This notebook analyzes cases deemed medically qualified that went to the PRB for a vote from Jan. 1, 2022 to Jun. 16, 2023.

In [57]:
import pandas as pd
import re

In [229]:
# load source data copied down from google sheets

# load grants
grants = pd.read_csv('source/prb_mr_case_voting_tracker_grants_6.16.23.csv')

# load denials
den = pd.read_csv('source/prb_mr_case_voting_tracker_denials_6.16.23.csv')

In [230]:
grants.head()

,MR #,Last Name,First Name,IDOC #,Date granted,Vote,Members
0,MR0009,Bahrs,Shawn,B19308,4/18/2022,(3-0),"For: Crigler, Bohland Miller"
1,MR0105,Barnett,C A,Y20852,3/24/2023,(3-0),"For: Coates, Shelton, Shoffner"
2,MR0097,Belmore,Bryant,N12623,3/3/2023,(3-0),"For: Crigler, Globokar, Miller"
3,MR0071,Brookmyer,Rita,N97463,11/18/2022,(3-0),"For: Globokar, Shoffner, Tupy"
4,MR0047,Burke,Dewayne,N80531,7/29/2022,(3-0),"For: Crigler, Bohland, Shelton"

In [231]:
den.head()

,MR #,Last Name,First Name,IDOC #,Date denied,Vote,Members
0,MR0002,Burke,Dwayne,N80531,3/16/2022,(3-0),"For: Bohland, Miller, Tupy"
1,MR0013,Miller,Joseph,A82547,4/18/2022,(3-0),"For: Crigler, Bohland Miller"
2,MR0014,Perkins,Ernest,N82771,4/18/2022,(3-0),"For: Crigler, Bohland Miller"
3,MR0015,Wiggins,Malcolm,N04370,4/18/2022,(3-0),"For: Crigler, Bohland Miller"
4,MR0011,Rhoiney,Eugene,A15243,4/18/2022,(3-0),"For: Crigler, Bohland Miller"

In [232]:
# clean data types for grants and denials

# format members and votes as strings
grants['Members'] = grants['Members'].astype(str)
den['Members'] = den['Members'].astype(str)

In [233]:
# clean up and reformat Members col int members_for and members_against cols for grants and denials dfs separately 
# members_for = voted to grant release
# members_against = voted against granting release

# create functions to grab for and against members from the Members 
def get_members_for(row):
    split_list = re.split('Against', row[6])
    members_for = split_list[0].replace('For: ', '')
    return members_for

def get_members_against(row):
    split_list = re.split('Against', row[6])
    if len(split_list) == 2:
        return split_list[1]
    else:
        return ''

# apply these functions to cases in two new cols: members_for and members_against
# it's reversed for grants and den
grants['members_for'] = grants.apply(get_members_for, axis=1)
grants['members_against'] = grants.apply(get_members_against, axis=1)

den['members_for'] = den.apply(get_members_against, axis=1)
den['members_against'] = den.apply(get_members_for, axis=1)

In [239]:
# prep one combined cases df

# rename date cols
grants = grants.rename(columns={'Date granted': 'Date decided'})
den = den.rename(columns={'Date denied': 'Date decided'})

# add row for decision and append grants and denials
grants['decision'] = 'grant'
den['decision'] = 'denial'

cases = pd.concat([grants, den])

In [240]:
cases.tail()

,MR #,Last Name,First Name,IDOC #,Date decided,Vote,Members,members_for,members_against,decision
70,MR0128,Linzy,Joe,B03244,6/2/2023,(3-0),"For: Miller, Shoffner, Grubbs",,"Miller, Shoffner, Grubbs",denial
71,MR0123,Hughes,Stanley,A60835,6/16/2023,(3-0),"For: Bohland, Globokar, Terrones",,"Bohland, Globokar, Terrones",denial
72,MR0132,Green,Tyreed,A01806,6/16/2023,(3-0),"For: Bohland, Globokar, Terrones",,"Bohland, Globokar, Terrones",denial
73,MR0124,Barnwell,James,A15031,6/16/2023,(3-0),"For: Bohland, Globokar, Terrones",,"Bohland, Globokar, Terrones",denial
74,MR0129,Hrecko,Matthew,A76273,6/16/2023,(2-1),"For: Bohland Terrones, Against Globokar",Globokar,"Bohland Terrones,",denial

In [242]:
# clean data types

# convert date granted to datetime object
cases['Date decided'] = pd.to_datetime(cases['Date decided'])

# create a year col
cases['year'] = cases['Date decided'].dt.year

# create a month_year col
cases['month_year'] = cases['Date decided'].dt.strftime('%m/%Y')

# create a month col
cases['month'] = cases['Date decided'].dt.month

In [243]:
# get panel name col

# create a function to clean the string of members names
def clean(string):
    string = string.replace('.','')
    string = string.replace(':','')
    string = string.replace(',','')
    string = string.strip()
    return string

# apply the function to clean up members_for and members_against cols
cases['members_for'] = cases['members_for'].apply(clean)
cases['members_against'] = cases['members_against'].apply(clean)

# create a panel col
cases['panel'] = cases['members_for'] + ' ' + cases['members_against']

In [248]:
cases.head()

,MR #,Last Name,First Name,IDOC #,Date decided,Vote,Members,members_for,members_against,decision,year,month_year,month,panel
0,MR0009,Bahrs,Shawn,B19308,2022-04-18,(3-0),"For: Crigler, Bohland Miller",Crigler Bohland Miller,,grant,2022,04/2022,4,Crigler Bohland Miller
1,MR0105,Barnett,C A,Y20852,2023-03-24,(3-0),"For: Coates, Shelton, Shoffner",Coates Shelton Shoffner,,grant,2023,03/2023,3,Coates Shelton Shoffner
2,MR0097,Belmore,Bryant,N12623,2023-03-03,(3-0),"For: Crigler, Globokar, Miller",Crigler Globokar Miller,,grant,2023,03/2023,3,Crigler Globokar Miller
3,MR0071,Brookmyer,Rita,N97463,2022-11-18,(3-0),"For: Globokar, Shoffner, Tupy",Globokar Shoffner Tupy,,grant,2022,11/2022,11,Globokar Shoffner Tupy
4,MR0047,Burke,Dewayne,N80531,2022-07-29,(3-0),"For: Crigler, Bohland, Shelton",Crigler Bohland Shelton,,grant,2022,07/2022,7,Crigler Bohland Shelton

In [244]:
# import manually created master list of prb members: current and former and their affiliations
prb = pd.read_csv('manual/PRB Board Members Master List (Current and Former) - Master List_8.16.23.csv')

In [245]:
prb.head()

,Name,Last,First,Member Expiration,Member Since,Affiliation,Appointed By,Position,County
0,"Bohland, Jared",Bohland,Jared,01/18/2027,05/03/2021,Republican,Governor,Member,Macon
1,"Coates, Matthew",Coates,Matthew,01/18/2027,07/01/2022,Democrat,Governor,Member,McLean
2,"Globokar, Julie",Globokar,Julie,01/20/2025,07/05/2022,Democrat,Governor,Member,Cook
3,"Goff, Darryldean",Goff,Darryldean,01/20/2025,05/15/2023,Democrat,Governor,Member,Lawrence
4,"Grubbs, Jeffrey",Grubbs,Jeffrey,01/20/2025,11/01/2022,Democrat,Governor,Member,Jackson

In [246]:
# create a new dataframe by member with yays and nays

# convert Last to string
prb['Last'] = prb['Last'].astype(str)

# functions to parse cases df and look up the number of instances each member shows up in the members_for and members_against cols
def get_yays(member):
    yays = cases['members_for'].str.count(member)
    return yays.sum()

def get_nays(member):
    nays = cases['members_against'].str.count(member)
    return nays.sum()

prb['yays'] = prb['Last'].apply(get_yays)
prb['nays'] = prb['Last'].apply(get_nays)

In [247]:
prb

,Name,Last,First,Member Expiration,Member Since,Affiliation,Appointed By,Position,County,yays,nays
0,"Bohland, Jared",Bohland,Jared,01/18/2027,05/03/2021,Republican,Governor,Member,Macon,8,44
1,"Coates, Matthew",Coates,Matthew,01/18/2027,07/01/2022,Democrat,Governor,Member,McLean,8,8
2,"Globokar, Julie",Globokar,Julie,01/20/2025,07/05/2022,Democrat,Governor,Member,Cook,12,13
3,"Goff, Darryldean",Goff,Darryldean,01/20/2025,05/15/2023,Democrat,Governor,Member,Lawrence,0,0
4,"Grubbs, Jeffrey",Grubbs,Jeffrey,01/20/2025,11/01/2022,Democrat,Governor,Member,Jackson,3,10
5,"Heaton, Rodger",Heaton,Rodger,01/20/2025,05/01/2022,Republican,Governor,Member,Cook,9,12
6,"Miller, Lee Ann",Miller,Lee Ann,01/18/2027,09/02/2021,Republican,Governor,Member,Gallatin,17,39
7,"Shelton, Donald",Shelton,Donald,01/15/2029,09/20/2012,Republican,Governor,Chair,Sangamon,15,22
8,"Shoffner, Robin",Shoffner,Robin,01/18/2027,05/01/2022,Democrat,Governor,Member,Cook,13,14
9,"Terrones, Carmen",Terrones,Carmen,01/20/2025,06/27/2022,Democrat,Governor,Member,Cook,11,16
10,"Tison, Krystal",Tison,Krystal,01/15/2029,05/15/2023,Independent,Governor,Member,Saline,0,0
11,"Tupy, Kenneth",Tupy,Kenneth,01/15/2029,05/03/2021,Republican,Governor,Member,Sangamon,6,30
12,VACANT,nan,NaN,01/18/2027,NaN,NaN,Governor,Member,NaN,0,0
13,VACANT,nan,NaN,01/15/2029,NaN,NaN,Governor,Member,NaN,0,0
14,VACANT,nan,NaN,01/15/2029,NaN,NaN,Governor,Member,NaN,0,0
15,Edith Crigler,Crigler,Edith,Former,03/28/2017,NaN,NaN,NaN,NaN,24,16
16,Lisa Daniels,Daniels,Lisa,Former,2018,NaN,NaN,NaN,NaN,8,2
17,Jeffrey Mears,Mears,Jeffery,Former,03/22/21,NaN,NaN,NaN,NaN,1,1
18,Oreal James,James,Oreal,Former,04/02/19,NaN,NaN,NaN,NaN,2,0

## FINDING: approvals/denials by month and year

In [50]:
# pivot by month_year and decision outcome
cases_by_month = pd.pivot_table(cases, values='MR #', index='month_year', columns='decision', aggfunc='count').reset_index()

In [51]:
# fill NaN with 0
cases_by_month = cases_by_month.fillna(0)

In [52]:
# clean up pivoted data

# fill NaN with 0
cases_by_month = cases_by_month.fillna(0)

# format as date
cases_by_month['month_year'] = pd.to_datetime(cases_by_month['month_year'])

# reformat as mm/yyy
# cases_by_month['month_year'] = cases_by_month['month_year'].dt.strftime('%m/%Y')

In [32]:
# check denial count is 75
cases_by_month['denial'].sum()

75.0

In [33]:
# check grant count is 46
cases_by_month['grant'].sum()

46.0

In [53]:
# copied this into findings doc
cases_by_month.sort_values('month_year', ascending=True)

decision month_year  denial  grant
1        2022-02-01     0.0    2.0
3        2022-03-01     1.0    3.0
5        2022-04-01    11.0    1.0
7        2022-05-01     8.0    2.0
9        2022-06-01     6.0    1.0
11       2022-07-01     6.0    4.0
12       2022-08-01     0.0    2.0
13       2022-09-01     3.0    5.0
14       2022-10-01     6.0    3.0
15       2022-11-01     4.0    2.0
16       2022-12-01     5.0    3.0
0        2023-01-01     1.0    4.0
2        2023-02-01     3.0    2.0
4        2023-03-01     8.0    5.0
6        2023-04-01     3.0    1.0
8        2023-05-01     3.0    1.0
10       2023-06-01     7.0    5.0