In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('map_data.parquet', engine='fastparquet')

In [3]:
df.to_csv('map_data.csv')

In [3]:
df.head(2)

,pin,pin_10,tax_payer_name,property_address,mailing_address,mailing_state,class,class_desc,major_class_code,major_class_type,reporting_group,community,municipality,geometry,is_exe_homeowner,is_same_address,estimated_type,networks
0,01011000040000,0101100004,TERRY AND SHERYL WYBEL,"213 W MAIN ST, BARRINGTON, IL 60010","213 W MAIN ST, BARRINGTON, IL 60010",IL,203,"One story residence, any age, 1,000 to 1,800 s...",2,Residential,Single-Family,None,BARRINGTON,b'\x01\x01\x00\x00\x00\xb1\xed9\xa5\xef\x08V\x...,True,True,Estimated Homeowner,None
1,01011000050000,0101100005,MOSTAFA BEIK,"209 W MAIN ST, BARRINGTON, IL 60010","200 APPLEBEE STREET, BARRINGTON, IL 60010",IL,205,"Two or more story residence, over 62 years, up...",2,Residential,Single-Family,None,BARRINGTON,b'\x01\x01\x00\x00\x00e\xa6\xc4\xac\xeb\x08V\x...,True,False,Homeowner Exemption Only,None

In [5]:
len(df)

1606924

In [20]:
df.groupby('major_class_type').size().reset_index(name='count').sort_values(by='count', ascending=False)

  major_class_type    count
1      Residential  1586942
0     Multi-Family    19982

In [9]:
df.groupby('class_desc').size().reset_index(name='count').sort_values(by='count', ascending=False)

                                           class_desc   count
3                                         Condominium  458172
14  One story residence, any age, 1,000 to 1,800 s...  345848
33         Two to six residential apartments, any age  150474
16    One story residence, any age, up to 999 sq. ft.  113633
25  Spllit level residence, with a lower level bel...   96489
29  Two or more story residence, up to 62 years, 2...   89395
28  Two or more story residence, over 62 years, up...   77113
8   Individually owned row houses or townhouses, u...   55732
15  One story residence, any age, 1,801 sq. ft. an...   51977
27  Two or more story residence, over 62 years, 2,...   38627
37  Vacant land under common ownership with adjace...   25236
31  Two or more story residence, up to 62 years, u...   24476
13                 Old style townhouse, over 62 years   15492
32  Two to six mixed-use apartments, any age, up t...   13801
30  Two or more story residence, up to 62 years, 3...   11344
20                                 Residential garage    8278
36  Two-or-three-story, non-fireproof corridor apa...    7417
26  Two or more story residence, any age, 5,000 sq...    6205
35  Two-or-three-story, non-fireproof building wit...    3360
11  Mixed-use commercial/residential building with...    2967
10                                  Minor improvement    2592
2   Apartment building over three stories, seven o...    2182
17      Other minor improvement related to rental use    1306
23                           Special rental structure     996
18                                 Rental condominium     964
12  Non-equalized land under agricultural use, val...     836
24  Special residential improvements (May apply to...     559
34  Two-or-three-story, building, seven or more units     384
4                                         Cooperative     368
19  Rented modern row houses, seven or more units ...     359
21                                   Residential land     110
5                                       Farm building      86
6   Garage used in conjunction with rental apartments      45
7                                    Home improvement      44
22              Single-room occupancy rental building      27
0   A residential building licensed as a Bed & Bre...      27
9     Land used in conjunction with rental apartments       2
1   Any residence located on a parcel used primari...       1

In [10]:
# about one-fifth of cook county parcels have an estimated absentee owner
df.groupby('estimated_type').size().reset_index(name='count').sort_values(by='count', ascending=False)

                     estimated_type   count
2               Estimated Homeowner  883916
0  Address Matches Tax Bill Address  299189
1          Estimated Absentee Owner  297180
3          Homeowner Exemption Only  126639

In [11]:
297180/len(df)

0.1849371843347912

In [12]:
df[df['estimated_type'] == 'Estimated Absentee Owner']

,pin,pin_10,tax_payer_name,property_address,mailing_address,mailing_state,class,class_desc,major_class_code,major_class_type,reporting_group,community,municipality,geometry,is_exe_homeowner,is_same_address,estimated_type,networks
5,01011000180000,0101100018,119 DUNDEE AVE LLC,"119 S DUNDEE AVE, BARRINGTON, IL 60010","2400 BIG TIMBER RD103A, ELGIN, IL 60124",IL,205,"Two or more story residence, over 62 years, up...",2,Residential,Single-Family,None,BARRINGTON,b'\x01\x01\x00\x00\x00\x93\\\x91p\xfe\x08V\xc0...,False,False,Estimated Absentee Owner,None
26,01011000700000,0101100070,MARK A FRY,"208 W STATION ST, BARRINGTON, IL 60010","338 W LAKE ST, BARRINGTON, IL 60010",IL,203,"One story residence, any age, 1,000 to 1,800 s...",2,Residential,Single-Family,None,BARRINGTON,b'\x01\x01\x00\x00\x00\x80\xce\x8c=\xe5\x08V\x...,False,False,Estimated Absentee Owner,None
43,01011001220000,0101100122,MATTHEW DIDOMENICO,"UNKNOWN , UNKNOWN, IL 00000","203 DUNDEE AVE, BARRINGTON, IL 60010",IL,209,"Two or more story residence, any age, 5,000 sq...",2,Residential,Single-Family,None,BARRINGTON,b'\x01\x01\x00\x00\x00\xad0\xee\x8a\xff\x08V\x...,False,False,Estimated Absentee Owner,None
44,01011010020000,0101101002,CTLTC HTB 112594,"117 E MAIN ST, BARRINGTON, IL 60010","10 S LASALLE ST #2750, CHICAGO, IL 60603",IL,212,"Two to six mixed-use apartments, any age, up t...",2,Residential,Multi-Family,None,BARRINGTON,b'\x01\x01\x00\x00\x00a\xb5[\xbb\xad\x08V\xc0\...,False,False,Estimated Absentee Owner,CTLTC 2133010-name
45,01011010040000,0101101004,FOXBAT AN ILLINOIS,"125 E MAIN ST, BARRINGTON, IL 60010","127 E MAIN ST, BARRINGTON, IL 60010",IL,212,"Two to six mixed-use apartments, any age, up t...",2,Residential,Multi-Family,None,BARRINGTON,b'\x01\x01\x00\x00\x00\x14\xc3c\xc5\xab\x08V\x...,False,False,Estimated Absentee Owner,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606897,33312070040000,3331207004,DENNIS HANSEN,"22321 MURPHY AVE, SAUK VILLAGE, IL 60411","143 PARK MANOR DR, DYER, IN 46311",IN,202,"One story residence, any age, up to 999 sq. ft.",2,Residential,Single-Family,None,SAUK VILLAGE,b'\x01\x01\x00\x00\x00\xc5\x91Tr\xcb\xe2U\xc0 ...,False,False,Estimated Absentee Owner,None
1606898,33312070050000,3331207005,MANUEL G PENA ESTATE,"22327 MURPHY AVE, SAUK VILLAGE, IL 60411","117 BRAZIL LANE, JOHNSTOWN, PA 15909",PA,234,"Spllit level residence, with a lower level bel...",2,Residential,Single-Family,None,SAUK VILLAGE,b'\x01\x01\x00\x00\x00\xde?.n\xcb\xe2U\xc0\xc3...,False,False,Estimated Absentee Owner,None
1606901,33312070080000,3331207008,ARNULFO GOMEZ,"22351 MURPHY AVE, SAUK VILLAGE, IL 60411","22161 CHAPPEL AVE, SAUK VILLAGE, IL 60411",IL,203,"One story residence, any age, 1,000 to 1,800 s...",2,Residential,Single-Family,None,SAUK VILLAGE,b'\x01\x01\x00\x00\x00\xab\xd1\xcaS\xcb\xe2U\x...,False,False,Estimated Absentee Owner,None
1606904,33314020030000,3331402003,BENIAMINO MAZZULLA,"22951 BURNHAM AVE, CHICAGO HEIGHTS, IL 60411","1800 N 37TH AVE, STONE PARK, IL 60165",IL,202,"One story residence, any age, up to 999 sq. ft.",2,Residential,Single-Family,None,None,b'\x01\x01\x00\x00\x00\xb9Z\x98\x85\x86\xe2U\x...,False,False,Estimated Absentee Owner,None
1606923,33323020150000,3332302015,GARY J ECKERT,"3301 STEGER RD, SAUK VILLAGE, IL 60411","3301 231ST ST, SAUK VILLAGE, IL 60411",IL,207,"Two or more story residence, up to 62 years, u...",2,Residential,Single-Family,None,None,b'\x01\x01\x00\x00\x00\x05{\xb7\x12Q\xe2U\xc0\...,False,False,Estimated Absentee Owner,None

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1606924 entries, 0 to 1606923
Data columns (total 18 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   pin               1606924 non-null  object
 1   pin_10            1606924 non-null  object
 2   tax_payer_name    1596883 non-null  object
 3   property_address  1606873 non-null  object
 4   mailing_address   1606674 non-null  object
 5   mailing_state     1606330 non-null  object
 6   class             1606924 non-null  object
 7   class_desc        1606924 non-null  object
 8   major_class_code  1606924 non-null  object
 9   major_class_type  1606924 non-null  object
 10  reporting_group   1549769 non-null  object
 11  community         746977 non-null   object
 12  municipality      827573 non-null   object
 13  geometry          1606924 non-null  object
 14  is_exe_homeowner  1606924 non-null  bool
 15  is_same_address   1606924 non-null  bool
 16  estimated_type    1606924 non-null  object
 17  networks          51785 non-null    object
dtypes: bool(2), object(16)
memory usage: 199.2+ MB

In [19]:
pd.pivot_table(df,
              index='class_desc',
              columns='estimated_type',
              values='pin',
              aggfunc='count')

estimated_type,Address Matches Tax Bill Address,Estimated Absentee Owner,Estimated Homeowner,Homeowner Exemption Only
class_desc,,,,
A residential building licensed as a Bed & Breakfast by the municipality,8.0,10.0,7.0,2.0
Any residence located on a parcel used primarily for commercial or industrial purposes,NaN,1.0,NaN,NaN
"Apartment building over three stories, seven or more units",97.0,2085.0,NaN,NaN
Condominium,125644.0,129493.0,159603.0,43432.0
Cooperative,10.0,49.0,60.0,249.0
Farm building,33.0,52.0,1.0,NaN
Garage used in conjunction with rental apartments,6.0,39.0,NaN,NaN
Home improvement,17.0,27.0,NaN,NaN
"Individually owned row houses or townhouses, up to 62 years",9255.0,6411.0,34054.0,6012.0
Land used in conjunction with rental apartments,NaN,2.0,NaN,NaN
Minor improvement,687.0,1905.0,NaN,NaN
"Mixed-use commercial/residential building with apartments and commercial area totaling seven units or more with a square-foot area of over 20,000 square feet",211.0,2755.0,NaN,1.0
"Non-equalized land under agricultural use, valued at farm pricing",75.0,761.0,NaN,NaN
"Old style townhouse, over 62 years",2564.0,2927.0,8578.0,1423.0
"One story residence, any age, 1,000 to 1,800 sq. ft.",48246.0,27476.0,246031.0,24095.0
"One story residence, any age, 1,801 sq. ft. and over",6062.0,2482.0,39092.0,4341.0
"One story residence, any age, up to 999 sq. ft.",18681.0,15597.0,71369.0,7986.0
Other minor improvement related to rental use,54.0,1252.0,NaN,NaN
Rental condominium,74.0,890.0,NaN,NaN
"Rented modern row houses, seven or more units in a single development or one or more contiguous parcels in common ownership",10.0,349.0,NaN,NaN
Residential garage,2923.0,5355.0,NaN,NaN
Residential land,38.0,72.0,NaN,NaN
Single-room occupancy rental building,4.0,23.0,NaN,NaN
Special rental structure,72.0,924.0,NaN,NaN
Special residential improvements (May apply to condo building in first year of construction before division into individual units.),101.0,426.0,11.0,21.0
"Spllit level residence, with a lower level below grade, all ages, all sizes",10738.0,5260.0,72487.0,8004.0
"Two or more story residence, any age, 5,000 sq. ft. and over",1193.0,506.0,3757.0,749.0
"Two or more story residence, over 62 years, 2,201 to 4,999 sq. ft.",5276.0,1406.0,29470.0,2475.0
"Two or more story residence, over 62 years, up to 2,200 sq. ft",10954.0,5268.0,56168.0,4723.0
"Two or more story residence, up to 62 years, 2,001 to 3,800 sq. ft.",10455.0,2364.0,68860.0,7716.0
"Two or more story residence, up to 62 years, 3,801 to 4,999 sq. ft.",1840.0,396.0,8045.0,1063.0
"Two or more story residence, up to 62 years, up to 2,000 sq. ft.",3013.0,1222.0,18138.0,2103.0
"Two to six mixed-use apartments, any age, up to 20,000 sq. ft.",2979.0,7654.0,2115.0,1053.0
"Two to six residential apartments, any age",26406.0,46813.0,66070.0,11185.0
"Two-or-three-story, building, seven or more units",14.0,370.0,NaN,NaN
"Two-or-three-story, non-fireproof building with corridor apartment or California type apartments, no corridors exterior entrance",137.0,3223.0,NaN,NaN
"Two-or-three-story, non-fireproof corridor apartments or California type apartments, interior entrance",279.0,7132.0,NaN,6.0
Vacant land under common ownership with adjacent residence,11033.0,14203.0,NaN,NaN

In [23]:
# community by estimated type for all parcels
by_comm = pd.pivot_table(df,
              index='community',
              columns='estimated_type',
              values='pin',
              aggfunc='count')

by_comm.reset_index().to_csv('output/community_by_est_type.csv', index=False)

In [24]:
# community by estiamted type for multifamily
by_comm_multi = pd.pivot_table(df[df['major_class_type'] == 'Multi-Family'],
              index='community',
              columns='estimated_type',
              values='pin',
              aggfunc='count')

by_comm_multi.reset_index().to_csv('output/community_by_est_type_multi.csv', index=False)

In [29]:
absentee_out_of_state = df[(df['estimated_type'] == 'Estimated Absentee Owner') & (df['mailing_state'] != 'IL')].copy()

# community by estimated type for all parcels
by_comm_absentee_out_of_state = pd.pivot_table(absentee_out_of_state,
              index='community',
              columns='estimated_type',
              values='pin',
              aggfunc='count')

by_comm_absentee_out_of_state.to_csv('output/absentee_out_of_state_by_comm.csv')

In [30]:
by_comm_absentee_out_of_state

estimated_type  Estimated Absentee Owner
community
ALBANY PARK                          120
ARCHER HEIGHTS                        14
ARMOUR SQUARE                         66
ASHBURN                              177
AUBURN GRESHAM                       358
...                                  ...
WEST LAWN                             45
WEST PULLMAN                         321
WEST RIDGE                           236
WEST TOWN                            787
WOODLAWN                             266

[77 rows x 1 columns]

In [32]:
# community by estiamted type for Two to six residential apartments, any age
# one of the most common mutli family classses
by_comm_two_six = pd.pivot_table(df[df['class_desc'] == 'Two to six residential apartments, any age'],
              index='community',
              columns='estimated_type',
              values='pin',
              aggfunc='count')

by_comm_two_six.reset_index().to_csv('output/community_by_est_type_two_six.csv', index=False)

In [5]:
# 1000 largest networks
df.groupby('networks').size().reset_index(name='properties').sort_values(by='properties', ascending=False).head(10)

                                             networks  properties
151                     CHICAGO TITLE AND LAND T-name        3568
190                                CTLTC 2133010-name        1749
149                       CERBERUS SFR HLD II LP-name        1172
206                       EAST CHESTNUT RTY A DE-name        1004
14   111 E WACKER DR #1400, CHICAGO, IL 60601-address         999
141                           ALTUS GROUP US INC-name         728
57                            235 VAN BUREN CORP-name         679
193                                CURRENT OWNER-name         648
33    1530 S STATE ST #626, CHICAGO, IL 60605-address         581
227                         NEW YORK RESIDENTIAL-name         530

In [6]:
df.groupby('networks').size().reset_index(name='properties').sort_values(by='properties', ascending=False).to_csv('output/1000_networks_list.csv')

In [8]:
df[df['networks'] == 'CERBERUS SFR HLD II LP-name'].groupby('community', dropna=False).size().reset_index(name='properties').sort_values(by='properties', ascending=False)

             community  properties
21                 NaN        1033
2              ASHBURN          49
4       BELMONT CRAGIN          20
5              BEVERLY          12
6      CALUMET HEIGHTS          11
8             CLEARING           7
14           MONTCLARE           6
20           WEST LAWN           4
9              DUNNING           4
16        PORTAGE PARK           4
15         MORGAN PARK           4
10      GARFIELD RIDGE           4
12             HERMOSA           3
11           HEGEWISCH           2
13         IRVING PARK           2
3               AUSTIN           1
0          ALBANY PARK           1
1       ARCHER HEIGHTS           1
7         CHICAGO LAWN           1
17            ROSELAND           1
19         WEST ELSDON           1
18  WASHINGTON HEIGHTS           1

In [9]:
df[df['networks'] == 'CERBERUS SFR HLD II LP-name']

,pin,pin_10,tax_payer_name,property_address,mailing_address,mailing_state,class,class_desc,major_class_code,major_class_type,reporting_group,community,municipality,geometry,is_exe_homeowner,is_same_address,estimated_type,networks
647,01012080040000,0101208004,FIRST KEY HOMES,"215 KAINER AVE, BARRINGTON, IL 60010","1850 PARKWAY PL 900, MARIETTA, GA 30067",GA,234,"Spllit level residence, with a lower level bel...",2,Residential,Single-Family,None,BARRINGTON,b'\x01\x01\x00\x00\x00@\xab!V\xfc\x07V\xc0\xd5...,False,False,Estimated Absentee Owner,CERBERUS SFR HLD II LP-name
20904,02134040050000,0213404005,FIRST KEY HOMES,"1329 MICHELE DR, PALATINE, IL 60074","1850 PARKWAY PL 900, MARIETTA, GA 30067",GA,234,"Spllit level residence, with a lower level bel...",2,Residential,Single-Family,None,PALATINE,b'\x01\x01\x00\x00\x00t\x8fK5\xb3\x00V\xc0~\xf...,False,False,Estimated Absentee Owner,CERBERUS SFR HLD II LP-name
53558,03051180010000,0305118001,FIRST KEY HOMES,"805 BERNARD DR, BUFFALO GROVE, IL 60089","1850 PKY PL #900, MARIETTA, GA 30067",GA,203,"One story residence, any age, 1,000 to 1,800 s...",2,Residential,Single-Family,None,BUFFALO GROVE,b'\x01\x01\x00\x00\x00\xcb\x8e\xa1/\x8b\xfeU\x...,False,False,Estimated Absentee Owner,CERBERUS SFR HLD II LP-name
63403,03102110110000,0310211011,CERBERUS SFR HLD II LP,"254 E WAYNE PL, WHEELING, IL 60090","1850 PARKWAY PL 900, MARIETTA, GA 30067",GA,202,"One story residence, any age, up to 999 sq. ft.",2,Residential,Single-Family,None,WHEELING,b'\x01\x01\x00\x00\x00=\xc66p\x8d\xfbU\xc0Y*SO...,False,False,Estimated Absentee Owner,CERBERUS SFR HLD II LP-name
160854,06071010130000,0607101013,CERBERUS SFR HOLDINGS,"1152 HIAWATHA DR, ELGIN, IL 60120","1850 PARKWAY PL 900, MARIETTA, GA 30067",GA,202,"One story residence, any age, up to 999 sq. ft.",2,Residential,Single-Family,None,ELGIN,b'\x01\x01\x00\x00\x00\x04\xab\x0b\xf3\xc7\x10...,False,False,Estimated Absentee Owner,CERBERUS SFR HLD II LP-name
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605334,33073210010000,3307321001,CERBERUS SFR HLD II LP,"19809 BROOK AVE, LYNWOOD, IL 60411","1850 PARKWAY PL 900, MARIETTA, GA 30067",GA,234,"Spllit level residence, with a lower level bel...",2,Residential,Single-Family,None,LYNWOOD,b'\x01\x01\x00\x00\x00\xee\x87\x0b\x9cv\xe3U\x...,False,False,Estimated Absentee Owner,CERBERUS SFR HLD II LP-name
1605349,33073210160000,3307321016,FIRST KEY HOMES,"19916 ORCHARD AVE, LYNWOOD, IL 60411","1850 PARKWAY PL #900, MARIETTA, GA 30067",GA,234,"Spllit level residence, with a lower level bel...",2,Residential,Single-Family,None,LYNWOOD,b'\x01\x01\x00\x00\x00\x83\x9b\x08\xa0o\xe3U\x...,False,False,Estimated Absentee Owner,CERBERUS SFR HLD II LP-name
1605357,33073210240000,3307321024,CERBERUS SFR HLD II LP,"19816 ORCHARD AVE, LYNWOOD, IL 60411","1850 PARKWAY PL 900, MARIETTA, GA 30067",GA,234,"Spllit level residence, with a lower level bel...",2,Residential,Single-Family,None,LYNWOOD,b'\x01\x01\x00\x00\x00S\xf6\x1c\xe9o\xe3U\xc0\...,False,False,Estimated Absentee Owner,CERBERUS SFR HLD II LP-name
1605600,33074080100000,3307408010,CERBERUS SFR HOLDINGS,"20137 SEQUOIA AVE, LYNWOOD, IL 60411","1850 PKWY PL SE#900, MARIETTA, GA 30067",GA,203,"One story residence, any age, 1,000 to 1,800 s...",2,Residential,Single-Family,None,LYNWOOD,b'\x01\x01\x00\x00\x00\xe3#\x1e\xec\xdd\xe2U\x...,False,False,Estimated Absentee Owner,CERBERUS SFR HLD II LP-name
1605610,33074080200000,3307408020,CERBERUS SFR HLD II LP,"20132 REDWOOD AVE, LYNWOOD, IL 60411","1850 PARKWAY PL 900, MARIETTA, GA 30067",GA,234,"Spllit level residence, with a lower level bel...",2,Residential,Single-Family,None,LYNWOOD,b'\x01\x01\x00\x00\x00\x9bD$R\xd7\xe2U\xc0\x95...,False,False,Estimated Absentee Owner,CERBERUS SFR HLD II LP-name