In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('source/CPD redacted pedestrian 2023.xlsx', sheet_name='CPD Pedestrian Stop Reporting 2')

In [ ]:
# 2022: 68,897 CPD pedestrian stops
# 2021: 68,556 CPD pedestrian stops

In [3]:
df['DATESTOP'] = pd.to_datetime(df['DATESTOP'])

In [4]:
df['month_year'] = df['DATESTOP'].dt.strftime('%m/%Y')

In [12]:
# total
len(df)

78642

In [13]:
# increase in 2023? idk if it's because CPD data is diff
len(df) - 68897

9745

In [14]:
# 14% increase
9745/68897

0.1414430236439903

In [5]:
df.groupby('month_year').size().reset_index()

   month_year     0
0     01/2023  6954
1     02/2023  7068
2     03/2023  6907
3     04/2023  6141
4     05/2023  6486
5     06/2023  6454
6     07/2023  6892
7     08/2023  6339
8     09/2023  6135
9     10/2023  6938
10    11/2023  6624
11    12/2023  5704

In [7]:
df.groupby('BEATSTOP').size().reset_index(name='stops').sort_values('stops', ascending=False)

     BEATSTOP  stops
217      1834   1159
129      1112   1117
133      1121    815
214      1831    809
6         123    725
..        ...    ...
179      1611     35
25        235     33
276      4100      9
277      6100      2
191      1650      1

[278 rows x 2 columns]

In [8]:
# add pedestrian race crosswalks
race_dict = {
    1:'white',
    2:'black',
    3:'native_american_alaskan',
    4:'hispanic',
    5:'asian',
    6:'native_hawaiian_pi'
}

In [9]:
df.groupby('PEDRACE', dropna=False).size()

PEDRACE
1     5780
2    52171
3      100
4    19690
5      772
6      129
dtype: int64

In [10]:
df['ped_race_name'] = df['PEDRACE'].map(race_dict)

In [ ]:
# pct black in 2023 is 66.3%
# 2022: 47,334 (69%)
# 2021: 48,044 (70%)

In [11]:
df.groupby('ped_race_name', dropna=False).size()

ped_race_name
asian                        772
black                      52171
hispanic                   19690
native_american_alaskan      100
native_hawaiian_pi           129
white                       5780
dtype: int64