# Load data

In [9]:
import pandas as pd

df = pd.read_csv("source/ptax/ptax203-203a-203b_2024.txt", sep="\t", header=0, usecols=['Line 1 - Primary PIN',
                                                                                       'Full Address',
                                                                                       'Date Recorded',
                                                                                       'Full Address',
                                                                                       'Line 1 - Unit',
                                                                                        'Line 8 - Current Use',
                                                                                       'Line 8 - Current Number of Apartment Units',
                                                                                       'Line 11 - Full consideration',
                                                                                       'Line 13 - Net Consideration',
                                                                                       'Step 4 - Seller Name',
                                                                                       'Step 4 - Seller Organization',
                                                                                       'Step 4 - Buyer Name',
                                                                                       'Step 4 - Buyer Organization',
                                                                                       'Line 6 - Principal Residence?'])

In [5]:
len(df)

250839

# Clean data

In [10]:
df['Date Recorded'] = pd.to_datetime(df['Date Recorded'])

In [11]:
# through dec 31
df.sort_values('Date Recorded').tail(2)

,Date Recorded,Full Address,Line 1 - Primary PIN,Line 1 - Unit,Line 6 - Principal Residence?,Line 8 - Current Use,Line 8 - Current Number of Apartment Units,Line 11 - Full consideration,Line 13 - Net Consideration,Step 4 - Seller Name,Step 4 - Seller Organization,Step 4 - Buyer Name,Step 4 - Buyer Organization
115210,2024-12-31,"3226 N OAK PARK AVE CHICAGO, IL 606344640",13-19-334-031-0000,Sq. Feet,0,NaN,0,0.00,0.00,DENNIS REPPLE,NaN,"DENNIS H. REPPLE AND ELOISE REPPLE, CO-TRUSTEE...","DENNIS H. REPPLE AND ELOISE REPPLE, CO-TRUSTEE..."
153784,2024-12-31,"4304 CRESTWOOD ST MCHENRY, IL 600505379",09-34-204-019,Dimensions,1,B,0,"230,000.00","230,000.00",KIMBERLY MARIE RIBAR AS SUCCESSOR TRUSTEE UNDE...,KIMBERLY MARIE RIBAR AS SUCCESSOR TRUSTEE UNDE...,RANDALL J KASS AS TRUSTEE OF THE CRESTWOOD TRU...,RANDALL J KASS AS TRUSTEE OF THE CRESTWOOD TRU...

Determine if Line 8 - Current Use is a good proxy for the PIN type of the transaction

In [13]:
# NaN is 15% 
# D & E are apt buildings
df['Line 8 - Current Use'].value_counts(dropna=False)

Line 8 - Current Use
B      172068
NaN     38854
A       14399
J        6516
K        5862
H        4480
D        4260
G        1010
I         995
E         892
F         848
C         655
Name: count, dtype: int64

In [14]:
# what's an example of NaN in line 8 (15%)
df[df['Line 8 - Current Use'].isnull()]

,Date Recorded,Full Address,Line 1 - Primary PIN,Line 1 - Unit,Line 6 - Principal Residence?,Line 8 - Current Use,Line 8 - Current Number of Apartment Units,Line 11 - Full consideration,Line 13 - Net Consideration,Step 4 - Seller Name,Step 4 - Seller Organization,Step 4 - Buyer Name,Step 4 - Buyer Organization
4,2024-11-19,"1943 W EDDY ST CHICAGO, IL 606571008",14-19-401-010-0000,Sq. Feet,0,NaN,0,0.00,0.00,STEPHEN J. MILLER,NaN,THE STEPHEN J. MILLER LIVING TRUST,THE STEPHEN J. MILLER LIVING TRUST
9,2024-10-10,"1003 E 192ND ST GLENWOOD, IL 604252021",32-11-115-005-0000,Sq. Feet,0,NaN,0,0.00,0.00,CALLIE CONWAY,NaN,THE PRACTICE MAKES PERFECT GOLDEN RULE LEGACY ...,THE PRACTICE MAKES PERFECT GOLDEN RULE LEGACY ...
24,2024-12-04,"6638 KENTON AVE LINCOLNWOOD, IL 607123322",10-34-310-068-0000,Sq. Feet,0,NaN,0,0.00,0.00,MICHAEL JAROSIK,NaN,MICHAEL JAROSIK LIVING TRUST,MICHAEL JAROSIK LIVING TRUST
26,2024-01-16,"604 ROSE LN BARTLETT, IL 601031530",06-29-404-023-0000,Sq. Feet,0,NaN,0,0.00,0.00,RONALD E DOERZAPH,NaN,DOERZAPH FAMILY TRUST AGREEMENT,DOERZAPH FAMILY TRUST AGREEMENT
28,2024-04-22,"310 N GROVE AVE OAK PARK, IL 603022254",16-07-105-019-0000,Sq. Feet,0,NaN,0,0.00,0.00,BYRON G. LEE,NaN,"BYRON G. LEE, CO-TRUSTEE","BYRON G. LEE, CO-TRUSTEE"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
250801,2024-08-13,"4660 N AUSTIN AVE # 202 CHICAGO, IL 606303100",13-17-107-194-1015,Sq. Feet,0,NaN,0,0.00,0.00,MARLENE J TONI,NaN,MARLENE J TONI,NaN
250805,2024-07-15,"18766 FOREST VIEW LN LANSING, IL 604384510",32-02-201-022-0000,Sq. Feet,0,NaN,0,0.00,0.00,JOHN AND KRISTI DELAURENTIIS,NaN,JOHN AND KRISTI DELAURENTIIS TRUSTEE OF THE DE...,JOHN AND KRISTI DELAURENTIIS TRUSTEE OF THE DE...
250815,2024-04-08,"6242 N WAYNE AVE CHICAGO, IL 606601913",14-05-112-017-0000,Sq. Feet,0,NaN,0,0.00,0.00,"ESTATE OF JANET L. SWOBODA, DECEASED, PURSUANT...","ESTATE OF JANET L. SWOBODA, DECEASED, PURSUANT...",MARGARET S. SWOBODA,NaN
250824,2024-12-06,"2341 W MONTANA ST CHICAGO, IL 606472031",14-30-315-006-0000,Acres,0,NaN,0,0.00,0.00,BISHWATH JAYARAM,NaN,"BRJS CONSOLIDATED, LLC - MONTANA SERIES","BRJS CONSOLIDATED, LLC - MONTANA SERIES"
250837,2024-02-02,"11045 THERESA CIR PALOS HILLS, IL 604653202",23-14-302-017-1017,Acres,0,NaN,0,0.00,0.00,FOGG PROPERTIES LLC,FOGG PROPERTIES LLC,NORMA FOGG,NaN

In [15]:
df[df['Line 8 - Current Use'].isnull()].to_csv('null_test.csv')

In [18]:
df.loc[df['Line 8 - Current Use'].isin([
    'D',
    'E'
])].to_csv('DE_test.csv')

In [19]:
df = df.loc[df['Line 8 - Current Use'].isin(['D','E'])]

In [20]:
len(df)

5152

In [17]:
df[df['Full Address'] == '3246 S NORMAL AVE CHICAGO, IL 606165403']

,Date Recorded,Full Address,Line 1 - Primary PIN,Line 1 - Unit,Line 6 - Principal Residence?,Line 8 - Current Use,Line 8 - Current Number of Apartment Units,Line 11 - Full consideration,Line 13 - Net Consideration,Step 4 - Seller Name,Step 4 - Seller Organization,Step 4 - Buyer Name,Step 4 - Buyer Organization
643,2024-01-05,"3246 S NORMAL AVE CHICAGO, IL 606165403",17-33-113-037-0000,Sq. Feet,0,D,4,"325,000.00","325,000.00",JAMES T. CALVINO,NaN,2G HOLDINGS LLC,2G HOLDINGS LLC

In [11]:
# residential uses only
# https://tax.illinois.gov/content/dam/soi/en/web/tax/localgovernments/property/documents/ptax-203.pdf
rdf = df.loc[df['Line 8 - Current Use'].isin([
    'B',
    'C',
    'D',
    'E'
])]

# add a residential column, apartment

In [12]:
len(rdf)

177875

# Look at Woodlawn 60637 for Esther

In [20]:
import re

rdf['Line 1 - ZIP Code'] = rdf['Line 1 - ZIP Code'].astype(str)

pattern = r"^60637\d{4}$" # starts with 5 digit 60637
woodlawn = residential_df[rdf['Line 1 - ZIP Code'].str.match(pattern, na=False)]
woodlawn.head()

/tmp/ipykernel_16581/2953757593.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  residential_df['Line 1 - ZIP Code'] = residential_df['Line 1 - ZIP Code'].astype(str)

,Declaration ID,Status,Document Number,Date Recorded,County Stamp Number,City Stamp Number,State Exemption,Full Address,Line 1 - Street,Line 1 - City,...,203-B Line 14 - Amount of Other Property Transferred,203-B Line 15 - Outstanding Mortgage,203-B Line 16 - Exemption,203-B Line 17,203-B Line 18 - State Tax,203-B Line 19 - County Tax,203-B Line 20 - Transfer Taxes Paid (Line 9b),203-B Line 21 - Corporate Franchise Tax Paid,203-B Line 22 - Total Transfer Tax Due,Step 3 - Legal Description
6,20240601637911,Deed Recorded,2418524454,2024-07-03,0-319-464-240,1-183-032-112,NaN,"6909 S INDIANA AVE CHICAGO, IL 606374500",6909 S INDIANA AVE,CHICAGO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LOT 22 (EXCEPT THE SOUTH 17.5 FEET) AND ALL OF...
526,20240601641941,Deed Recorded,2419024029,2024-07-08,0-421-696-304,1-763-873-584,NaN,"6332 S EVANS AVE CHICAGO, IL 606376160",6332 S EVANS AVE,CHICAGO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,THE NORTH 20 FEET OF LOT 40 AND THE SOUTH 10 F...
643,20240101611650,Deed Recorded,2401806288,2024-01-18,1-249-966-128,0-903-985-200,NaN,"7026 S VERNON AVE CHICAGO, IL 606374624",7026 S VERNON AVE,CHICAGO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LOT 37 AND 38 IN BLOCK 16 IN JOHNSTON AND CLEM...
1217,20240301649200,Deed Recorded,2407224638,2024-03-12,0-525-118-000,1-257-876-016,NaN,"6141-6143 S WOODLAWN AVE CHICAGO, IL 606372869",6141-6143 S WOODLAWN AVE,CHICAGO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LOT 16 IN BLOCK 3 IN SUBDIVISION OF BLOCKS 3 A...
1221,20240701655026,Deed Recorded,2420020322,2024-07-18,0-358-898-480,1-834-801-968,NaN,"6004 S RHODES, UNIT 3S CHICAGO, IL 606372405","6004 S RHODES, UNIT 3S",CHICAGO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PARCEL 1: UNIT 3S IN THE 6004 S. RHODES CONDOM...

In [21]:
woodlawn.to_csv('output/60657_transfers_240930.csv')

# Look for specific examples

In [16]:
# based on block club reporting: https://blockclubchicago.org/2025/02/11/logan-square-tenants-protest-luxury-upgrades-rent-hikes-outside-new-landlords-office/

rdf[rdf['Line 1 - Primary PIN'] == '13-35-217-001-0000']

rdf[rdf['Line 1 - Primary PIN'] == '13-35-217-001-0000'].to_csv('output/2257_n_sawyer_ptax.csv', index=False)

In [17]:
# 7655 coles
rdf[rdf['Line 1 - Primary PIN'] == '21-30-404-017-0000']

Empty DataFrame
Columns: [Declaration ID, Status, Document Number, Date Recorded, County Stamp Number, City Stamp Number, State Exemption, Full Address, Line 1 - Street, Line 1 - City, Line 1 - ZIP Code, Line 1 - Township, Line 1 - County, Line 1 - Primary PIN, Line 1 - Lot Size or Acreage, Line 1 - Unit, Line 1 - Split Parcel?, Line 2 - Total Parcels, Line 3 - Additional PINs?, Line 4 - Instrument Date, Line 5 - Instrument Type, Line 5 - Other Instrument Type Description, Line 6 - Principal Residence?, Line 7 - Property Advertised?, Line 8 - Current Use, Line 8 - Current Number of Apartment Units, Line 8 - Current Commercial Building Type, Line 8 - Current Other Commercial Building Description, Line 8 - Current Other Use Type, Line 8 - Current Miscellaneous Other Use Type Description, Line 8 - Intended Use, Line 8 - Intended Number of Apartment Units, Line 8 - Intended Commercial Building Type, Line 8 - Intended Other Commercial Building Description, Line 8 - Intended Other Use Type, Line 8 - Intended Miscellaneous Other Use Type Description, Line 9 - No Changes, Line 9 - Demolition/damage, Line 9 - Additions, Line 9 - Major Remodeling, Line 9 - New Construction, Line 9 - Other Change, Line 9 - Other Change Description, Line 9 - Date of Significant Change, Line 10a, Line 10a - Year Contract Initiated, Line 10b, Line 10c, Line 10d, Line 10e, Line 10f, Line 10g, Line 10h, Line 10i, Line 10j, Line 10k, Line 10l, Line 10m, Line 10n, Line 10o, Line 10p, Line 10q, Line 10r, Line 10r - Description, Line 10s, Line 10s - General/Alternative, Line 10s - Senior Citizens, Line 10s - Senior Citizens Assessment Freeze, Line 11 - Full consideration, Line 12a - Personal Property?, Line 12a - Total Personal Property, Line 12b - Mobile Home Included?, Line 13 - Net Consideration, Line 14 - Amount of Other Property Transferred, Line 15 - Outstanding Mortgage, Line 16 - State Exemption, Line 17 - Net Consideration Subject to Transfer Tax, Line 18, Line 19 - State Tax, Line 20 - County Tax, Line 21 - Total Transfer Tax, Step 4 - Seller Name, Step 4 - Seller Organization, Additional Sellers?, Step 4 - Seller's Agent?, Step 4 - Seller's Agent's Name, Step 4 - Seller's Agent's Title, Step 4 - Seller's Agent's Business Name, Step 4 - Seller's Agent's Address, Step 4 - Seller's Agent's Country, Step 4 - Buyer Name, Step 4 - Buyer Organization, Additional Buyers?, Step 4 - Buyer's Agent?, Step 4 - Buyer's Agent's Name, Step 4 - Buyer's Agent's Title, Step 4 - Buyer's Agent's Business Name, Step 4 - Buyer's Agent's Address, Step 4 - Buyer's Agent's Country, Step 4 - Preparer Name, ...]
Index: []

[0 rows x 183 columns]

In [18]:
# 5220 South Harper Avenue
rdf[rdf['Line 1 - Primary PIN'] == '20-11-411-018-0000']

Empty DataFrame
Columns: [Declaration ID, Status, Document Number, Date Recorded, County Stamp Number, City Stamp Number, State Exemption, Full Address, Line 1 - Street, Line 1 - City, Line 1 - ZIP Code, Line 1 - Township, Line 1 - County, Line 1 - Primary PIN, Line 1 - Lot Size or Acreage, Line 1 - Unit, Line 1 - Split Parcel?, Line 2 - Total Parcels, Line 3 - Additional PINs?, Line 4 - Instrument Date, Line 5 - Instrument Type, Line 5 - Other Instrument Type Description, Line 6 - Principal Residence?, Line 7 - Property Advertised?, Line 8 - Current Use, Line 8 - Current Number of Apartment Units, Line 8 - Current Commercial Building Type, Line 8 - Current Other Commercial Building Description, Line 8 - Current Other Use Type, Line 8 - Current Miscellaneous Other Use Type Description, Line 8 - Intended Use, Line 8 - Intended Number of Apartment Units, Line 8 - Intended Commercial Building Type, Line 8 - Intended Other Commercial Building Description, Line 8 - Intended Other Use Type, Line 8 - Intended Miscellaneous Other Use Type Description, Line 9 - No Changes, Line 9 - Demolition/damage, Line 9 - Additions, Line 9 - Major Remodeling, Line 9 - New Construction, Line 9 - Other Change, Line 9 - Other Change Description, Line 9 - Date of Significant Change, Line 10a, Line 10a - Year Contract Initiated, Line 10b, Line 10c, Line 10d, Line 10e, Line 10f, Line 10g, Line 10h, Line 10i, Line 10j, Line 10k, Line 10l, Line 10m, Line 10n, Line 10o, Line 10p, Line 10q, Line 10r, Line 10r - Description, Line 10s, Line 10s - General/Alternative, Line 10s - Senior Citizens, Line 10s - Senior Citizens Assessment Freeze, Line 11 - Full consideration, Line 12a - Personal Property?, Line 12a - Total Personal Property, Line 12b - Mobile Home Included?, Line 13 - Net Consideration, Line 14 - Amount of Other Property Transferred, Line 15 - Outstanding Mortgage, Line 16 - State Exemption, Line 17 - Net Consideration Subject to Transfer Tax, Line 18, Line 19 - State Tax, Line 20 - County Tax, Line 21 - Total Transfer Tax, Step 4 - Seller Name, Step 4 - Seller Organization, Additional Sellers?, Step 4 - Seller's Agent?, Step 4 - Seller's Agent's Name, Step 4 - Seller's Agent's Title, Step 4 - Seller's Agent's Business Name, Step 4 - Seller's Agent's Address, Step 4 - Seller's Agent's Country, Step 4 - Buyer Name, Step 4 - Buyer Organization, Additional Buyers?, Step 4 - Buyer's Agent?, Step 4 - Buyer's Agent's Name, Step 4 - Buyer's Agent's Title, Step 4 - Buyer's Agent's Business Name, Step 4 - Buyer's Agent's Address, Step 4 - Buyer's Agent's Country, Step 4 - Preparer Name, ...]
Index: []

[0 rows x 183 columns]

# Search for indicators

In [20]:
# export random subset to inspect
rdf.head(50).to_csv('test.csv', index=False)

In [13]:
# Search for indicators of corporate buyers in the 'Name' column

searchfor = ['LLC', 'CORP', 'INC', 'BANK', 'TRUST', 'ASSOC', 'HOLDINGS', 'INVESTMENTS', 'REALTY', 'PROPERTIES']
mask = df['Step 4 - Buyer Name'].str.contains('|'.join(searchfor), na=False)

# filter df for individual
filtered_df = df[mask]

In [40]:
filtered_df[['Full Address','Line 1 - ZIP Code','Line 8 - Current Use','Step 4 - Buyer Name']]

,Full Address,Line 1 - ZIP Code,Line 8 - Current Use,Step 4 - Buyer Name
9,"23 S PISTAKEE LAKE RD FOX LAKE, IL 600200000",600200000,A,EICKHORST RENTALS LLC
10,"410 MORTON STREET HOFFMAN ESTATES, IL 601693107",601693107,B,"VICKY L. OAKLEY, AS TRUSTEE UNDER THE TRUST AG..."
20,"604 ROSE LN BARTLETT, IL 601031530",601031530,NaN,DOERZAPH FAMILY TRUST AGREEMENT
22,"310 N GROVE AVE OAK PARK, IL 603022254",603022254,NaN,"BYRON G. LEE, CO-TRUSTEE"
30,"2739 BROADWAY AVE EVANSTON, IL 602011556",602011556,NaN,MARY M KENNY DECLARATION OF TRUST
...,...,...,...,...
187580,"400 E VIRGINIA RD ARENZVILLE, IL 626113521",626113521,B,"T&K INVESTMENT PROPERTIES, LLC"
187584,"2021 EZRA AVE ZION, IL 600990000",600990000,B,"LC BUYER, LLC"
187589,"2114 N KILDARE AVE CHICAGO, IL 606393660",606393660,D,ARROYO INVESTMENT LLC
187593,"110 OSTERHAGE DRIVE WATERLOO, IL 622980000",622980000,B,AMY HANK PROPERTIES LLC
187595,"7212 W 90TH ST BRIDGEVIEW, IL 604552118",604552118,I,"TRANQUILITY II HOLDINGS, LLC"

In [41]:
len(filtered_df)

48235

In [42]:
# est. percent "corporate" buyers in 2024
len(filtered_df)/len(residential_df)

0.36062742517924834

In [43]:
filtered_df.groupby('Line 1 - City').size().reset_index(name='purchases').sort_values(by='purchases', ascending=False).head(10)

          Line 1 - City  purchases
207             CHICAGO      14169
33    ARLINGTON HEIGHTS        646
876         ORLAND PARK        572
1025         SCHAUMBURG        538
1082        SPRINGFIELD        523
288         DES PLAINES        491
440            GLENVIEW        471
883            PALATINE        468
362            EVANSTON        468
986            ROCKFORD        467

In [44]:
# top 10 zips in Chicago
filtered_df[filtered_df['Line 1 - City'] == 'CHICAGO'].groupby('Line 1 - ZIP Code').size().reset_index(name='purchases').sort_values(by='purchases', ascending=False).head(10)

      Line 1 - ZIP Code  purchases
868           606113308        155
9849          606573771         43
14            606017329         29
877           606113583         29
28            606024750         24
873           606113427         23
9391          606545414         22
675           606101351         21
1148          606133123         19
9411          606547760         19

In [45]:
filtered_df[filtered_df['Line 1 - ZIP Code'] == 606573771][['Full Address','Line 1 - Primary PIN','Line 8 - Current Use','Step 4 - Buyer Name','Line 8 - Current Number of Apartment Units']]

,Full Address,Line 1 - Primary PIN,Line 8 - Current Use,Step 4 - Buyer Name,Line 8 - Current Number of Apartment Units
11107,"505 W MELROSE ST # 303 CHICAGO, IL 606573771",14-21-314-055-1014,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
24827,"505 W MELROSE ST # 508 AND P-18 CHICAGO, IL 60...",14-21-314-055-1039,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
28030,"505 W MELROSE ST # 506 CHICAGO, IL 606573771",14-21-314-055-1037,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
28563,"505 W MELROSE ST # 502 CHICAGO, IL 606573771",14-21-314-055-1033,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
29975,"505 W MELROSE ST # 101 AND P-13 CHICAGO, IL 60...",14-21-314-055-1001,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
31809,"505 W MELROSE ST # 403 AND P-3 CHICAGO, IL 606...",14-21-314-055-1024,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
35931,"505 W MELROSE ST # 408 AND P-20 CHICAGO, IL 60...",14-21-314-055-1029,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
37053,"505 W MELROSE ST # 203 AND P-4 CHICAGO, IL 606...",14-21-314-055-1004,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
40190,"505 W MELROSE ST # 309 CHICAGO, IL 606573771",14-21-314-055-1020,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
55195,"505 W MELROSE ST # 310 AND P-19 CHICAGO, IL 60...",14-21-314-055-1021,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
58478,"505 W MELROSE ST # 401 AND P-16 CHICAGO, IL 60...",14-21-314-055-1022,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
62786,"505 W MELROSE ST # 504 AND P-14 CHICAGO, IL 60...",14-21-314-055-1035,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
65094,"505 W MELROSE ST # 507 CHICAGO, IL 606573771",14-21-314-055-1038,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
65705,"505 W MELROSE ST # 205 CHICAGO, IL 606573771",14-21-314-055-1006,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
70441,"505 W MELROSE ST # 410 CHICAGO, IL 606573771",14-21-314-055-1031,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
72938,"505 W MELROSE ST # 209 CHICAGO, IL 606573771",14-21-314-055-1010,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
76279,"505 W MELROSE ST # 206 CHICAGO, IL 606573771",14-21-314-055-1007,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
78247,"505 W MELROSE ST # 501 AND P-17 CHICAGO, IL 60...",14-21-314-055-1032,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
81787,"505 W MELROSE ST # 202 CHICAGO, IL 606573771",14-21-314-055-1003,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
85676,"505 W MELROSE ST # 301 CHICAGO, IL 606573771",14-21-314-055-1012,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
89446,"505 W MELROSE ST # 405 CHICAGO, IL 606573771",14-21-314-055-1026,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
91123,"505 W MELROSE ST # 402 AND P-10 CHICAGO, IL 60...",14-21-314-055-1023,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
91302,"505 W MELROSE ST # 405 CHICAGO, IL 606573771",14-21-314-055-1026,B,505 MELROSE 405 LLC,0
95661,"505 W MELROSE ST # 207 AND P-22 CHICAGO, IL 60...",14-21-314-055-1008,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
98078,"505 W MELROSE ST # 204 AND P-21 CHICAGO, IL 60...",14-21-314-055-1005,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
102243,"505 W MELROSE ST # 505 CHICAGO, IL 606573771",14-21-314-055-1036,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
109565,"505 W MELROSE ST # 406 AND P-11 CHICAGO, IL 60...",14-21-314-055-1027,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
115358,"505 W MELROSE ST # 305 CHICAGO, IL 606573771",14-21-314-055-1016,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
117168,"505 W MELROSE ST # 407 AND P-7 CHICAGO, IL 606...",14-21-314-055-1028,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
118625,"505 W MELROSE ST # 302 AND P-15 CHICAGO, IL 60...",14-21-314-055-1013,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
121244,"505 W MELROSE ST # 308 CHICAGO, IL 606573771",14-21-314-055-1019,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
126021,"505 W MELROSE ST # 307 AND P-2 CHICAGO, IL 606...",14-21-314-055-1018,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
128178,"505 W MELROSE ST # 510 AND P-12 CHICAGO, IL 60...",14-21-314-055-1041,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
132824,"505 W MELROSE ST # 503 AND P-8 CHICAGO, IL 606...",14-21-314-055-1034,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
137788,"505 W MELROSE ST # 409 CHICAGO, IL 606573771",14-21-314-055-1030,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
152012,"505 W MELROSE ST # 509 CHICAGO, IL 606573771",14-21-314-055-1040,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
154950,"505 W MELROSE ST # 306 AND P-1 CHICAGO, IL 606...",14-21-314-055-1017,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
155186,"505 W MELROSE ST # 201 CHICAGO, IL 606573771",14-21-314-055-1002,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
158393,"505 W MELROSE ST # 404 AND P-5 CHICAGO, IL 606...",14-21-314-055-1025,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
174528,"505 W MELROSE ST # 304 CHICAGO, IL 606573771",14-21-314-055-1015,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
182596,"505 W MELROSE ST # 210 AND P-6 CHICAGO, IL 606...",14-21-314-055-1011,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
184926,"505 W MELROSE ST # 208 AND P-9 CHICAGO, IL 606...",14-21-314-055-1009,B,"LANGDON MELROSE, LLC, AN ILLINOIS LIMITED LIAB...",0
185714,"505 W MELROSE ST # 201 CHICAGO, IL 606573771",14-21-314-055-1002,NaN,THE BRAD LEGACY TRUST,0

In [53]:
# Filter for individual sellers and corporate buyers
individual_to_corporate = filtered_df[
    filtered_df['Step 4 - Seller Name'].str.match(r'^[A-Za-z]+\s[A-Za-z]+$', na=False) &  # Individual seller
    filtered_df['Step 4 - Buyer Name'].str.contains('|'.join(searchfor), case=False, na=False) & # Corporate buyer
    ~filtered_df['Step 4 - Buyer Name'].str.contains('|'.join(['Trust','Trustee']), case=False, na=False)
]

In [54]:
individual_to_corporate[individual_to_corporate['Line 1 - City'] == 'CHICAGO'][['Full Address','Line 1 - Primary PIN','Line 8 - Current Use','Step 4 - Buyer Name','Step 4 - Seller Name','Line 8 - Current Number of Apartment Units']]

,Full Address,Line 1 - Primary PIN,Line 8 - Current Use,Step 4 - Buyer Name,Step 4 - Seller Name,Line 8 - Current Number of Apartment Units
254,"6600 S WASHTENAW AVE CHICAGO, IL 606291718",19-24-225-021-0000,B,MIGUEL CORTEZ LLC,GONZALO REYES,0
299,"5535 N CAMPBELL AVE # 3 CHICAGO, IL 606257983",13-12-208-014-0000,NaN,5535 N CAMPBELL LLC,JEFFREY YOSOWITZ,0
514,"5628 N MENARD AVE CHICAGO, IL 606466310",13-05-429-042-0000,D,ITF LLC,CYNTHIA JURCA,2
859,"10 E ONTARIO ST # S502 CHICAGO, IL 606112736",17-10-111-014-1730,NaN,"TEMPLARS UNITED, INC, A FLORIDA CORPORATION",GHAITH MITRI,0
1077,"7017 SOUTH BISHOP STREET CHICAGO, IL 606363917",20-20-327-006-0000,NaN,ALVARADO INVESTMENT PROPERTIES LLC,ALEJANDRO ALVARADO,0
...,...,...,...,...,...,...
187237,"2150 W NORTH AVE # 7 CHICAGO, IL 606472159",14-31-331-032-1007,NaN,"BJK RE HOLDINGS, LLC-2150 W. NORTH SERIES, AN ...",BRYAN KOORSTAD,0
187372,"545 N DEARBORN ST # W3008 CHICAGO, IL 606542658",17-09-241-036-1236,NaN,"ABR FAMILY HOLDINGS, LLC",AMINA ROKADIA,0
187433,"9019 S EUCLID AVE CHICAGO, IL 606173710",25-01-132-046-0000,B,14047 CORP,JORELLE ALEXANDER,0
187557,"5430 N SHERIDAN RD # P-32 CHICAGO, IL 606401968",14-08-206-031-1080,K,"SHERIDAN KL1, LLC",CRAIG SOLOWSKI,0
187589,"2114 N KILDARE AVE CHICAGO, IL 606393660",13-34-218-024-0000,D,ARROYO INVESTMENT LLC,DIONICIO ARGUELLO,2