In [11]:
import pandas as pd
import re
from corporate_keywords import keywords # list

In [9]:
2+2

4

In [13]:
full_df_list = []

for i in range(2014,2025):
    filepath = f"source/ptax/ptax_{i}.txt"
    df = pd.read_csv(filepath, sep="\t", header=0, usecols=['Line 1 - Primary PIN',
                                                            'Full Address',
                                                            'Date Recorded',
                                                            'Full Address',
                                                            'Line 1 - Unit',
                                                            'Line 8 - Current Use',
                                                            'Line 8 - Current Number of Apartment Units',
                                                            'Line 11 - Full consideration',
                                                            'Line 13 - Net Consideration',
                                                            'Step 4 - Seller Name',
                                                            'Step 4 - Seller Organization',
                                                            'Step 4 - Buyer Name',
                                                            'Step 4 - Buyer Organization',
                                                            'Line 6 - Principal Residence?'])

    print('YEAR ', i)

    # filter for just apartments
    df = df.loc[df['Line 8 - Current Use'].isin(['D','E'])]

    # add year
    df['year'] = i
    
    print(len(df))

    # create a col for if buyer is corporate/org. returns true if corporate, false if individual
    df['buyer_is_org'] = df['Step 4 - Buyer Name'].str.contains('|'.join(keywords), flags=re.IGNORECASE, regex=True, na=False) 

    # do the same for seller
    df['seller_is_org'] = df['Step 4 - Seller Name'].str.contains('|'.join(keywords), flags=re.IGNORECASE, regex=True, na=False)

    full_df_list.append(df)

    del df

YEAR  2014
3698
YEAR  2015
4910
YEAR  2016
5923
YEAR  2017
6261
YEAR  2018
6873

/tmp/ipykernel_179957/332228808.py:5: DtypeWarning: Columns (91) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep="\t", header=0, usecols=['Line 1 - Primary PIN',

YEAR  2019
6479
YEAR  2020
5117
YEAR  2021
8444
YEAR  2022
7340
YEAR  2023
5352
YEAR  2024
5152

In [16]:
# concat
df = pd.concat(full_df_list, axis=0)

df.head()

,Date Recorded,Full Address,Line 1 - Primary PIN,Line 1 - Unit,Line 6 - Principal Residence?,Line 8 - Current Use,Line 8 - Current Number of Apartment Units,Line 11 - Full consideration,Line 13 - Net Consideration,Step 4 - Seller Name,Step 4 - Seller Organization,Step 4 - Buyer Name,Step 4 - Buyer Organization,year,buyer_corp,seller_corp
22,2014-07-30,"1228 W 77TH ST CHICAGO, IL 606203729",20-29-310-008-0000,Sq. Feet,0,D,2,"32,034.00","32,034.00",SHERIFF OF COOK COUNTY,SHERIFF OF COOK COUNTY,CHICAGO TITLE LAND TRUST #8002360077 U/A/D 8/2...,CHICAGO TITLE LAND TRUST #8002360077 U/A/D 8/2...,2014,True,True
59,2014-01-02,"2568 CAMBERLEY CIR WESTCHESTER, IL 601545947",15-30-209-002-1033,Dimensions,1,D,6,"263,000.00","263,000.00","PNC Bank, National Association","PNC Bank, National Association",Marie Mercil,NaN,2014,False,True
60,2014-09-30,"213 N MENARD AVE CHICAGO, IL 606442102",16-08-409-009-0000,Acres,1,D,3,"165,000.00","165,000.00",FEDERAL HOME LOAN MORTGAGE CORPORATION,FEDERAL HOME LOAN MORTGAGE CORPORATION,SARAH M TUCKER,NaN,2014,True,True
63,2014-11-26,"6734 S CLYDE AVE CHICAGO, IL 606491122",20-24-401-017-0000,Dimensions,0,E,7,"335,000.00","335,000.00",GREENWOOD RENTALS LLC,GREENWOOD RENTALS LLC,EDC FUND 3 LLC - SERIES 67 CLYDE,EDC FUND 3 LLC - SERIES 67 CLYDE,2014,True,True
87,2014-10-23,"1924 N HALSTED ST CHICAGO, IL 606145009",14-32-410-048-0000,Sq. Feet,0,D,2,"950,000.00","950,000.00","MATTHEW O. SCARSI, AS TRUSTEE OF THE 2009 MATT...","MATTHEW O. SCARSI, AS TRUSTEE OF THE 2009 MATT...",ROBERT L MURPHY,NaN,2014,False,True

In [20]:
test = df.head()
test['test'] = df['Step 4 - Buyer Name'].str.contains('|'.join(keywords), flags=re.IGNORECASE, regex=True, na=False)

ValueError: cannot reindex on an axis with duplicate labels

In [21]:
test

,Date Recorded,Full Address,Line 1 - Primary PIN,Line 1 - Unit,Line 6 - Principal Residence?,Line 8 - Current Use,Line 8 - Current Number of Apartment Units,Line 11 - Full consideration,Line 13 - Net Consideration,Step 4 - Seller Name,Step 4 - Seller Organization,Step 4 - Buyer Name,Step 4 - Buyer Organization,year,buyer_corp,seller_corp
22,2014-07-30,"1228 W 77TH ST CHICAGO, IL 606203729",20-29-310-008-0000,Sq. Feet,0,D,2,"32,034.00","32,034.00",SHERIFF OF COOK COUNTY,SHERIFF OF COOK COUNTY,CHICAGO TITLE LAND TRUST #8002360077 U/A/D 8/2...,CHICAGO TITLE LAND TRUST #8002360077 U/A/D 8/2...,2014,True,True
59,2014-01-02,"2568 CAMBERLEY CIR WESTCHESTER, IL 601545947",15-30-209-002-1033,Dimensions,1,D,6,"263,000.00","263,000.00","PNC Bank, National Association","PNC Bank, National Association",Marie Mercil,NaN,2014,False,True
60,2014-09-30,"213 N MENARD AVE CHICAGO, IL 606442102",16-08-409-009-0000,Acres,1,D,3,"165,000.00","165,000.00",FEDERAL HOME LOAN MORTGAGE CORPORATION,FEDERAL HOME LOAN MORTGAGE CORPORATION,SARAH M TUCKER,NaN,2014,True,True
63,2014-11-26,"6734 S CLYDE AVE CHICAGO, IL 606491122",20-24-401-017-0000,Dimensions,0,E,7,"335,000.00","335,000.00",GREENWOOD RENTALS LLC,GREENWOOD RENTALS LLC,EDC FUND 3 LLC - SERIES 67 CLYDE,EDC FUND 3 LLC - SERIES 67 CLYDE,2014,True,True
87,2014-10-23,"1924 N HALSTED ST CHICAGO, IL 606145009",14-32-410-048-0000,Sq. Feet,0,D,2,"950,000.00","950,000.00","MATTHEW O. SCARSI, AS TRUSTEE OF THE 2009 MATT...","MATTHEW O. SCARSI, AS TRUSTEE OF THE 2009 MATT...",ROBERT L MURPHY,NaN,2014,False,True

In [ ]:
# filter out net considerations below 100