In [1]:
import pandas as pd

In [2]:
# load cleaned data
df = pd.read_csv('../data/processed/cleaned_complaints.csv')

In [3]:
df.head()

,Unnamed: 0,SR Number,Date/Time Opened,Service Request Address,Service Request Status,Answer,street_address,zipcode,apt_num,datetime_opened,year,month_year,date,hour,city,state
0,0,SR18-00198455,12/19/18 02:53 PM,NaN,Completed,No Cause,NaN,NaN,,2018-12-19 14:53:00,2018,12/2018,2018-12-19,14,Chicago,Illinois
1,1,SR19-01043676,02/20/19 01:40 PM,1135 N Harlem AVE<br> 60302,Completed,No Cause,1135 N Harlem AVE,60302.0,,2019-02-20 13:40:00,2019,02/2019,2019-02-20,13,Chicago,Illinois
2,2,SR19-01047333,02/21/19 08:56 AM,18231 S Sayre AVE<br> 60477,Completed,No Cause,18231 S Sayre AVE,60477.0,,2019-02-21 08:56:00,2019,02/2019,2019-02-21,8,Chicago,Illinois
3,3,SR19-01050631,02/21/19 03:29 PM,6726 N SHERIDAN RD<br> 60626,Completed,Processed for Hearing - Standard,6726 N SHERIDAN RD,60626.0,,2019-02-21 15:29:00,2019,02/2019,2019-02-21,15,Chicago,Illinois
4,4,SR19-01058995,02/23/19 11:35 AM,2746 N 74th AVE<br> 60707,Completed,No Cause,2746 N 74th AVE,60707.0,,2019-02-23 11:35:00,2019,02/2019,2019-02-23,11,Chicago,Illinois

In [6]:
# identify the four complaints with no address
df[df['street_address'].isnull()]

,Unnamed: 0,SR Number,Date/Time Opened,Service Request Address,Service Request Status,Answer,street_address,zipcode,apt_num,datetime_opened,year,month_year,date,hour,city,state
0,0,SR18-00198455,12/19/18 02:53 PM,NaN,Completed,No Cause,NaN,NaN,,2018-12-19 14:53:00,2018,12/2018,2018-12-19,14,Chicago,Illinois
6,6,SR19-01068011,02/25/19 11:47 AM,NaN,Completed,No Cause,NaN,NaN,,2019-02-25 11:47:00,2019,02/2019,2019-02-25,11,Chicago,Illinois
5712,5712,SR21-00217372,02/08/21 08:20 AM,NaN,Completed,No Cause,NaN,NaN,,2021-02-08 08:20:00,2021,02/2021,2021-02-08,8,Chicago,Illinois
5714,5714,SR21-00217555,02/08/21 08:56 AM,NaN,Completed,No Cause,NaN,NaN,,2021-02-08 08:56:00,2021,02/2021,2021-02-08,8,Chicago,Illinois
5726,5726,SR21-00217933,02/08/21 09:44 AM,NaN,Completed,No Cause,NaN,NaN,,2021-02-08 09:44:00,2021,02/2021,2021-02-08,9,Chicago,Illinois

## Remove duplicate SR Numbers

These are duplicate versions of the same calls that mostly got recategorized as different violations such as ventilation, electrical, plumbing etc.

In [13]:
# identify 249 rows of duplicates
duplicates_mask = df.duplicated(subset=['SR Number'],keep=False)
df[duplicates_mask]

,Unnamed: 0,SR Number,Date/Time Opened,Service Request Address,Service Request Status,Answer,street_address,zipcode,apt_num,datetime_opened,year,month_year,date,hour,city,state
191,191,SR19-01119959,03/07/19 10:03 AM,1053 W GRANVILLE AVE<br> 60660,Completed,Transfer to Ventilation Violation,1053 W GRANVILLE AVE,60660.0,,2019-03-07 10:03:00,2019,03/2019,2019-03-07,10,Chicago,Illinois
192,192,SR19-01119959,03/07/19 10:03 AM,1053 W GRANVILLE AVE<br> 60660,Completed,No Cause,1053 W GRANVILLE AVE,60660.0,,2019-03-07 10:03:00,2019,03/2019,2019-03-07,10,Chicago,Illinois
348,348,SR19-01225744,03/26/19 05:37 PM,9351 S RACINE AVE<br> 60620,Completed,Transfer to Ventilation Violation,9351 S RACINE AVE,60620.0,,2019-03-26 17:37:00,2019,03/2019,2019-03-26,17,Chicago,Illinois
349,349,SR19-01225744,03/26/19 05:37 PM,9351 S RACINE AVE<br> 60620,Completed,No Entry,9351 S RACINE AVE,60620.0,,2019-03-26 17:37:00,2019,03/2019,2019-03-26,17,Chicago,Illinois
501,501,SR19-01380156,04/24/19 02:01 PM,2 E 8TH ST<br> 60605,Completed,Transfer to Ventilation Violation,2 E 8TH ST,60605.0,,2019-04-24 14:01:00,2019,04/2019,2019-04-24,14,Chicago,Illinois
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16351,16351,SR24-00105674,01/18/24 08:14 AM,6811 S PAXTON AVE<br>,Completed,No Entry,6811 S PAXTON AVE,NaN,,2024-01-18 08:14:00,2024,01/2024,2024-01-18,8,Chicago,Illinois
16391,16391,SR24-00110455,01/18/24 05:55 PM,1343 N CLEVELAND AVE<br>Chicago Illinois 60610,Completed,Transfer to Boiler Violation,1343 N CLEVELAND AVE,60610.0,Chicago Illinois,2024-01-18 17:55:00,2024,01/2024,2024-01-18,17,Chicago,Illinois
16392,16392,SR24-00110455,01/18/24 05:55 PM,1343 N CLEVELAND AVE<br>Chicago Illinois 60610,Completed,No Cause,1343 N CLEVELAND AVE,60610.0,Chicago Illinois,2024-01-18 17:55:00,2024,01/2024,2024-01-18,17,Chicago,Illinois
16570,16570,SR24-00138578,01/23/24 05:08 PM,1561 N FREMONT ST<br>,Completed,Transfer to Ventilation Violation,1561 N FREMONT ST,NaN,,2024-01-23 17:08:00,2024,01/2024,2024-01-23,17,Chicago,Illinois
16571,16571,SR24-00138578,01/23/24 05:08 PM,1561 N FREMONT ST<br>,Completed,NaN,1561 N FREMONT ST,NaN,,2024-01-23 17:08:00,2024,01/2024,2024-01-23,17,Chicago,Illinois

In [14]:
# remove duplicates by keeping first instance only in df
df.drop_duplicates(subset=['SR Number'], keep='first', inplace=True)

In [24]:
# export deduplicated dataframe
df.to_csv('../data/processed/cleaned_complaints_deduplicated.csv')

## Identify repeat addresses

In [19]:
# group by address
address_grouped = df.groupby('street_address').size().reset_index(name='complaints').sort_values('complaints', ascending=False)

# there are 2938 unique addresses with more than one complaint
address_grouped[address_grouped['complaints'] > 1]

             street_address  complaints
8722        860 N DEWITT PL          52
823    1343 N CLEVELAND AVE          46
1801             2 E 8TH ST          46
3934     4045 N LAPORTE AVE          34
3867    4000 W DIVERSEY AVE          31
...                     ...         ...
7446  7270 S SOUTH SHORE DR           2
7447    728 N SPAULDING AVE           2
8473    8200 S ESCANABA AVE           2
8489          821 E 82ND ST           2
7549    7359 S CARPENTER ST           2

[2938 rows x 2 columns]

In [21]:
repeat_addresses_by_complaint_count = address_grouped[address_grouped['complaints'] > 1].copy()

In [22]:
# export repeat address count
repeat_addresses_by_complaint_count.to_csv('../output/repeat_addresses_by_complaint_count.csv')

In [20]:
# pivot complaint county by year and address
addresses_by_complaints_and_year = pd.pivot_table(
    df,
    values='SR Number',
    index='street_address',
    columns='year',
    aggfunc='count').reset_index()

addresses_by_complaints_and_year

year            street_address  2019  2020  2021  2022  2023  2024
0                 1 E 114TH ST   NaN   1.0   NaN   NaN   NaN   NaN
1                   1 E 8TH ST   NaN   NaN   NaN   1.0   NaN   NaN
2                1 N WACKER DR   NaN   NaN   1.0   NaN   NaN   NaN
3              1 W SUPERIOR ST   NaN   NaN   NaN   1.0   1.0   NaN
4              10 E ONTARIO ST   NaN   NaN   NaN   1.0   NaN   NaN
...                        ...   ...   ...   ...   ...   ...   ...
9079  9933 S VAN VLISSINGEN RD   NaN   NaN   1.0   NaN   NaN   NaN
9080          9937 S AVENUE J    NaN   1.0   NaN   NaN   NaN   NaN
9081           9947 S YALE AVE   NaN   NaN   1.0   NaN   NaN   NaN
9082        9951 S OGLESBY AVE   NaN   NaN   NaN   1.0   NaN   NaN
9083          9951 S YATES AVE   NaN   NaN   NaN   NaN   4.0   NaN

[9084 rows x 7 columns]

In [28]:
# replace NaN with zero so I can total
addresses_by_complaints_and_year.fillna(0,inplace=True)

# add a total column to pivot table
addresses_by_complaints_and_year['total'] = addresses_by_complaints_and_year[2019] + addresses_by_complaints_and_year[2020] + addresses_by_complaints_and_year[2021] + addresses_by_complaints_and_year[2022] + addresses_by_complaints_and_year[2023] + addresses_by_complaints_and_year[2024]

In [30]:
# export into output
addresses_by_complaints_and_year.to_csv('../output/addresses_by_complaints_and_year.csv')

## Number of complaints over time

In [33]:
complaints_by_month = df.groupby('month_year').size().reset_index()
complaints_by_month

   month_year     0
0     01/2020   424
1     01/2021   456
2     01/2022  1029
3     01/2023   498
4     01/2024  1319
5     02/2019    51
6     02/2020   315
7     02/2021   984
8     02/2022   405
9     02/2023   305
10    03/2019   328
11    03/2020   168
12    03/2021   232
13    03/2022   255
14    03/2023   184
15    04/2019   168
16    04/2020   115
17    04/2021   137
18    04/2022   181
19    04/2023   147
20    05/2019    98
21    05/2020    75
22    05/2021   118
23    05/2022    93
24    05/2023    89
25    06/2019     5
26    06/2022     2
27    09/2019    12
28    09/2020    94
29    09/2021    47
30    09/2022   129
31    09/2023    26
32    10/2019   490
33    10/2020   652
34    10/2021   440
35    10/2022   427
36    10/2023   530
37    11/2019   599
38    11/2020   423
39    11/2021   658
40    11/2022   511
41    11/2023   488
42    12/2018     1
43    12/2019   345
44    12/2020   588
45    12/2021   493
46    12/2022  1020
47    12/2023   299

In [34]:
# export as complaints by month
complaints_by_month.to_csv('../output/complaints_by_month.csv')

## Complaints by zipcode

In [ ]:
# TODO - missing 17% of complaint zipcodes though

In [35]:
complaints_by_zip = df.groupby('zipcode').size().reset_index(name='complaints').sort_values('complaints', ascending=False)
complaints_by_zip

    zipcode  complaints
49  60649.0        1025
22  60619.0         842
38  60637.0         673
23  60620.0         576
45  60644.0         522
..      ...         ...
7   60604.0           3
1   60153.0           1
3   60477.0           1
2   60302.0           1
0   10758.0           1

[62 rows x 2 columns]